<header id="nav">
  <div class="content">
    <section id="bio">
      <p>
        Informatics student and freelancer with professional experience in App-
        and Web-Development.
      </p>
    </section>
  </div>
  <div class="nav-background"></div>
  <div class="particle-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>
  <div id="planets">
    <div id="raphi" class="planet planet-1"></div>
    <div id="earth" class="planet planet-2"></div>
    <div id="mars" class="planet planet-3"></div>
    <div id="jupiter" class="planet planet-4"></div>
    <div id="venus" class="planet planet-5"></div>
  </div>
  <section class="footer">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.author_name }}</p>
  </section>
</header>
